doctype html
html(lang= "en")
  head
    //
      *
      __          _ _____ _      _
      \ \        / |  __ (_)    | |
       \ \  /\  / /| |__) |  ___| | _____ _ __
        \ \/  \/ / |  ___/ |/ __| |/ / _ \ '__|
         \  /\  /  | |   | | (__|   <  __/ |
          \/  \/   |_|   |_|\___|_|\_\___|_|



    meta(charset="utf-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Wpicker
    link(rel="stylesheet" href= "assets/stylesheets/main.css")

  body.page
    h1.title Wpicker-exapmle

    - let i = 1;

    .wpicker

    script(src= "assets/javascripts/main.js")
